/* google-search zoom — blur and scale results when the search box is focused */
body:has(#searchform) #main {
  transition:
    filter 0.3s ease-in-out,
    transform 0.3s ease-in-out !important;
}

body:has(#searchform):has(.A8SBwf.emcav) #main {
  filter: blur(20px) !important;
  transform: scale(0.98) !important;
}

.aajZCb,
.emcav .RNNXgb {
  background-color: light-dark(#fff5, #0007) !important;
}

/* @slow reveal search filters */
.rfiSsc {
  transition: opacity 1s ease-in-out !important;
}

.rfiSsc.JiJthb {
  transition: none !important;
  opacity: 0 !important;
}
