/* ddg-Animations — ease the immersive blur in and out */
.site-wrapper,
#header_wrapper,
#content_wrapper,
#react-duckbar,
#web_content_wrapper,
#react-layout .FMPme3X940xAt4SKPFuw,
.CWpd1G8aesXbBJgiTnPA,
.REA4sYRb0Pu217KZv20I,
article[data-testid="result"] > div,
header > .header_headerContent__LYxh6,
.desktop-homepage_heroContent__4HUFA,
.homepage-cta-section_scrollCta__Wmixn,
#features,
.minimal-homepage_minimalContentWrap__YnOEL,
.center_intrinsic__Gt_PZ {
  transition-property: filter !important;
  transition: 0.6s cubic-bezier(0.85, 0, 0.15, 1) !important;
}

article[data-testid="result"] > .OHr0VX9IuNcv6iakvT6A.IBL7rESCoklmJ_3nDLDz > div {
  transition-property: transform !important;
  transition: 0.6s cubic-bezier(0.85, 0, 0.15, 1) !important;
}
