/* yt-Compact feed — Reduce spacing, show menu on hover, inline details */
ytd-rich-grid-renderer ytd-rich-item-renderer #metadata.ytd-video-meta-block {
  flex-direction: row !important;
}

ytd-rich-grid-renderer ytd-rich-item-renderer #metadata.ytd-video-meta-block #metadata-line span:nth-child(3) {
  height: 1em !important;
  margin-left: 1em !important;
}

ytd-rich-grid-renderer ytd-rich-grid-media {
  border-radius: 1.2em !important;
  height: 100% !important;
}

ytd-rich-grid-renderer ytd-rich-grid-media ytd-menu-renderer #button {
  opacity: 0 !important;
  transition: opacity 0.3s ease-in-out !important;
}

ytd-rich-grid-renderer ytd-rich-grid-media:hover ytd-menu-renderer #button {
  opacity: 1 !important;
}
