/* Thumbnail hover preview */
#inline-preview-player {
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s !important;
}

#video-preview-container:has(#inline-preview-player) {
  overflow: hidden !important;
  border-radius: 1.2em !important;
  transform: scale(1);
  transition:
    transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    box-shadow 0.3s ease !important;
}

#video-preview-container:has(#inline-preview-player):hover {
  z-index: 4;
  transform: scale(1.18);
  box-shadow: 0 18px 60px #0008;
  transition-delay: 0.7s !important;
}

ytd-app #content {
  opacity: 1;
  transition: opacity 0.3s ease-in-out !important;
}

ytd-app:has(#video-preview-container:hover) #content {
  opacity: 0.55;
  transition: opacity 1s ease-in-out 0.7s !important;
}
