/* Theater solid comments — Opaque background instead of glass blur */
#content:has([data-title-no-tooltip="Full screen"]):has([data-title-no-tooltip="Default view"]) ytd-comments {
  -webkit-backdrop-filter: none !important;
  backdrop-filter: none !important;
  background-color: var(--yt-spec-text-primary-inverse) !important;
}
