/* Theater comments right — Position hover comments on the right edge */
#content:has([data-title-no-tooltip="Full screen"]):has([data-title-no-tooltip="Default view"]) ytd-comments {
  border-radius: 2em 0 0 2em !important;
  left: auto !important;
  right: -42em !important;
}

#content:has([data-title-no-tooltip="Full screen"]):has([data-title-no-tooltip="Default view"]) ytd-comments:hover {
  left: auto !important;
  right: 0 !important;
}
